@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --primary-color: #4A634A;
    --secondary-color: #A9B489;
    --dark-text-color: #333;
    --medium-text-color: #555;
    --light-text-color: #777;
    --white-color: #ffffff;
    --light-bg-color: #f9f9f9;
    --border-color: #e0e0e0;
    --footer-bg-color: #333;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --success-bg: #d4edda;
    --danger-bg: #f8d7da;
    --warning-bg: #fff3cd;
    --info-bg: #d1ecf1;
}